<a href="https://colab.research.google.com/github/Saravanakumar1303/Neo_Zeno_Internship/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment - 1

1. Implement 10 combinations of Data operators ( +, -, *, /, //, %) between 2 simple arrays.

In [1]:
# Addition
arr1 = [10, 20, 30, 40, 50]
arr2 = [2, 4, 6, 8, 10]
for i in range(len(arr1)):
  for j in range(len(arr2)):
    print(arr1[i] + arr2[j])

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60

In [2]:
# Subraction
for i in range(len(arr1)):
  for j in range(len(arr2)):
    print(arr1[i] - arr2[j])

8
6
4
2
0
18
16
14
12
10
28
26
24
22
20
38
36
34
32
30
48
46
44
42
40

In [7]:
#Multiplication alternate elements of arr1 with alternate elements of arr2, producing all combinations.
for i in range(0,len(arr1),2):
  for j in range(0,len(arr2),2):
    print(arr1[i] * arr2[j])

20
60
100
60
180
300
100
300
500

In [9]:
# Division alternate elements of arr1 with alternate elements of arr2 producing of all combinations.
for i in range(1,len(arr1),2):
  for j in range(1,len(arr2),2):
    print(arr1[i] / arr2[j])

5.0
2.5
10.0
5.0

In [10]:
# Modulas alternate elements of arr1 with alternate elements of arr2, producing all combinations.
for i in range(0,len(arr1),2):
  for j in range(0,len(arr2),2):
    print(arr1[i] % arr2[j])

0
4
0
0
0
0
0
2
0

In [11]:
#Floor Division alternate elements of arr1 with alternate elements of arr2 producing of all combinations.
for i in range(1,len(arr1),2):
  for j in range(1,len(arr2),2):
    print(arr1[i] // arr2[j])

5
2
10
5

In [13]:
# Exponent
for i in range(0,len(arr1),3):
  for j in range(0,len(arr2),3):
    print(arr1[i] ** arr2[j])

100
100000000
1600
6553600000000

In [18]:
#Arithmetic Operator Precedence without parantheses
for i in range(len(arr1)):
  for j in range(len(arr2)):
    result = arr1[i] + arr2[i] * 2
  print(result)

14
28
42
56
70

In [19]:
#Arithmetic Operator Precedence with parantheses
for i in range(len(arr1)):
  for j in range(len(arr2)):
    result = (arr1[i] + arr2[i]) * 2
  print(result)

24
48
72
96
120

In [20]:
# Exponent with parantheses
for i in range(len(arr1)):
  for j in range(len(arr2)):
    result = arr1[i] ** arr2[i] +2
  print(result)

102
160002
729000002
6553600000002
97656250000000002

In [23]:
# Example of Arithmetic operator precedence
for i in range(len(arr1)):
  for j in range(len(arr2)):
    value = arr1[i] * arr2[i] / arr2[i] // arr2[i] % arr2[i]
  print(value)

1.0
1.0
5.0
5.0
5.0

2. Implement 2 examples each of " For " loop and " While " loop

In [32]:
# Example of for loop
rows = 5

for i in range(1, rows + 1):
              # Print leading spaces
    for j in range(rows - i):
        print(" ", end=" ")
              # Print stars
    for k in range(2 * i - 1):
        print("*", end=" ")
            # Move to next line
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [33]:
fruits=['apple','banana','cherry']
for fruit in fruits:
  print("I like",fruit)

I like apple
I like banana
I like cherry

In [36]:
# Example of while loop
total = 0

while True:
    num = int(input("Enter a number (0 to stop): "))
    if num == 0:
        break
    total += num
    print(f"Current total: {total}")

print(f"Final total: {total}")

Enter a number (0 to stop): 5
Current total: 5
Enter a number (0 to stop): 10
Current total: 15
Enter a number (0 to stop): 29
Current total: 44
Enter a number (0 to stop): 34
Current total: 78
Enter a number (0 to stop): 89
Current total: 167
Enter a number (0 to stop): 3
Current total: 170
Enter a number (0 to stop): 30
Current total: 200
Enter a number (0 to stop): 0
Final total: 200

In [37]:
count = 5

while count > 0:
    print(f"Countdown: {count}")
    count -= 1

print("Blast off!")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Blast off!